@import url("https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:ital,wght@1,500&display=swap");

.App-header {
  background-color: #2b3252;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 4rem;
  padding: 0.1rem;
  padding-right: 40%;
  padding-left: 5%;
  font-family: "Lora", serif;
}

.App-header > h1 {
  color: #fad744; /*#EF5455; */
}

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
}

li {
  text-align: center;
  margin: 5px 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
